@font-face {
	font-family: 'Gotham Book';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/GOTHAMBOOK.woff');
}

@font-face {
	font-family: 'Gotham Medium';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Gotham-Medium.otf');
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding:0;
}

body {
   font-family: 'Gotham Book';
   font-size: 15px;
}

h1, h2, h3, h4, h5{
	text-transform: uppercase;
	font-family: 'Gotham Medium';
}

h2{
	top: -9rem;
	font-size: 37px;
}

h3{
	font-size: 25px;
	padding: 1.25rem 0;
}

h4{
	font-size: 18px;
}

h5{
	color: #11749e;
	font-size: 25px;
	letter-spacing: 1.2rem;
	font-weight: 200;
}


.wafer{
	margin: 0 auto;
	text-align: center;
}

.wafer h2, .overlay{
	position: relative;
	z-index:1;
}

.overlay{
	font-family: 'Gotham Medium';
	font-size: 247px;
	z-index: 2;
	opacity: 0.1;
	line-height: 1;
}

.desc{
	font-size: 30px;
	padding-bottom: 3rem;
}

.col-md-6, .col-md-3{
	padding: 0;
}

/* header */

header {
	min-height: 875px;
	background-image: url('../images/header_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

header  h1{
	margin-top: 20%;
	color: #fff;
	font-size: 152px;
}

header ul li a{
	color: #fff;
	margin-right: 1.2rem;
	font-size: 1.2rem;
}

header ul li a:hover{
	text-decoration: none;
	color:#11749e;
	transition: all 0.3s ease;
}

.navbar {
	padding-top: 1.25rem;
}

.navbar-light .navbar-nav .nav-link{
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #11749e;
	transition: all 0.3s ease;
	border-bottom: 2px solid #11749e;
}

.navbar-collapse{
	flex-grow: 0;
	padding-bottom: 20px;
}

.navbar-light .navbar-toggler{
	border: none;
}

.navbar-toggler{
	background-color: rgba(255, 255, 255, 0.7);
}

button:focus{
	outline: none;
}

.page-scroll{
	color: #fff;
	font-size: 13px;
	padding-top: 7.1rem;
}

.page-scroll p{
	margin-bottom: 2rem;
}

.btn-circle{
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	display: inline;
	padding: 1.5rem 1.75rem;

}

.fa .fa-angle-down{
	font-weight: bold;
}

/* about */

#about{
	background-color: #11749e;
	color: #fff;
	padding-bottom: 6.25rem;
	padding-top: 3.125rem;
}

#about.icon a{
	color: #fff;
	font-size: 25px;
}

.icon-about{
	width: 8.125rem;
	height: 8.125rem;
	background: rgb(255, 255, 255, 0.3);
	display: table;
	text-align: center;
	margin: 0 auto 1.2rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-size: 40px;
	line-height: 8.125rem;
}

/* news */

.news-1{
	background-color: #222222;
	color: #fff;
}

.news-2{
	background-color: #f3f3f3;
	color: #222222;
}

.news-1-picture, .news-2-picture{
	min-height: 448px;
	background-image: url(../images/picture-1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.news-1-picture{
	background-image: url(../images/picture-1.png);
}

.news-2-picture{
	background-image: url(../images/picture-2.png);
}

.news-item{
	padding: 6rem;
}

.date{
	font-size: 0.8125rem;
}

/* blog */

#blog, #team{
	background-color: #fff;
	color: #222222;
	padding-bottom: 6.25rem;
	padding-top: 3.125rem;
}

.blog-section h4{
	padding: 2.5rem 0 0 0;
	color: #11749e;
	font-size: 1.125rem;
	text-transform: uppercase;
}

.blog-section p{
	padding: 1.2rem;
}

/* quick-action */

#quick-action{
	background-color: #11749e;
	color: #fff;
	padding: 6rem;
}

#quick-action .icon{
	font-size: 3.125rem;
	padding: 0.625rem 1.875rem;
	float: left;
}

/* key-feature */

#key-feature{
	min-height: 846px;
	background-image: url(../images/tel_bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	color: #fff;
}

#key-feature img{
	padding: 6.25rem 0;

}

.progress-bar{
	text-align: left;
	padding-left: 1.25rem;
}

.progress{
	margin-top: 1.25rem;
	min-height: 2rem;
	background-color: transparent;
	border-radius: 0;
}

/* team */

.figure{
	position:relative;

}

.figure img{
	display:block;
	text-align: center;
 
}

.figure-caption{
	position:absolute;
	width:80%;
	left:10%;
	bottom:-1rem;
	color:#000;
	padding:0.625rem 0;
	background-color: white;
	text-align: center;
}

.figure-caption h4{
	color: #11749e;
	font-size: 1.2rem;
	font-family: 'Gotham Medium';
}

/* contact */

#contact{
	background-image: url(../images/form_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	color: #fff;
	padding: 6.25rem 0;
}

.form-control{
	border-radius: 0px;
}

.form-control:focus{
	box-shadow: none;
	border-color: #fff;
}

input[type="text"], input[type="email"], input[type="tel"], textarea{
    background-color:rgba(0,0,0,0) !important;
}

textarea{
	margin-top: 1rem;
}

input[type="submit"]{
    padding: 15px 60px;
	font-size: 1.5rem;
	font-family: 'Gotham Medium';
     border-radius: 0; 
}

/* card */

#card{
	min-height: 330px;
}

/* footer */

footer{
	background-color: #222222;
	color: #fff;
	min-height: 115px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.bottom{
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

@media (max-width: 575.98px) {

	header {
		min-height: 300px;
	}
	
	header h1{
		font-size: 40px;
		margin-top: 7%;
	}
	
	h5{
		font-size: 1rem;
		letter-spacing: 0.2rem;
	}
	
	.page-scroll{
		display: none;
	}
	
	.post-picture { 
        display: none; 
	}
	
	.news-item{
		padding: 2.5rem;
	}
	
	.news-1-picture, .news-2-picture { 
        display: none; 
	}
	
	#quick-action{
		padding: 2.5rem;
	}
	
	#quick-action .icon{
		padding: 0.3125rem;
	}
	
	input[type="email"], input[type="tel"]{
		margin-top: 20px;
	}
	
	.overlay{
		font-size: 240px;
	}
	
	h2{
		top: -11rem;
		font-size: 32px;
	}
	
}

@media (min-width: 576px) and (max-width: 767.98px) {

	header {
		min-height: 400px;
	}
	
	header h1{
		font-size: 80px;
		margin-top: 10%;
	}
	
	.page-scroll{
		display: none;
	}
	
	.feature-section{
		padding: 0 0.6rem;
	}
	
	.news-item{
		padding: 2rem;
	}
	
	.news-1-picture, .news-2-picture { 
        display: none; 
	}
	
	.blog-section{
		padding: 0.2rem;
	}
	
	#quick-action{
		padding: 1rem 2rem 1rem 0;
	}
	
	input[type="email"], input[type="tel"]{
		margin-top: 30px;
	}
 }

@media (min-width: 768px) and (max-width: 991.98px) {

	header {
		min-height: 500px;
	}
	
	header h1{
		font-size: 7rem;
		margin-top: 8%;
	}
	
	.page-scroll{
		display: none;
	}
	
	.feature-section{
		padding: 0 0.6rem;
	}
	
	.news-item{
		padding: 2rem;
	}
	
	.blog-section{
		padding: 0.2rem;
	}
	
	#quick-action{
		padding: 1rem 2rem 1rem 0;
	}
	

}

@media (min-width: 992px) and (max-width: 1199.98px) {
	
	header {
		min-height: 600px;
	}

	header h1{
		font-size: 8rem;
		margin-top: 10%;
	}
	
	.page-scroll{
		padding-top: 3rem;
	}

	.feature-section{
		padding: 0 0.6rem;
	}
	
	.blog-section{
		padding: 0.2rem;
	}
}
